/*
 *
 * 定義顏色變數
 *
 */


// wl prefix for "Wish.Land"
  // for div
  $wl-bg: #fafafa;
  $wl-siteheader: #f5f5f5;
  $wl-pink: #de4c5f;
  // text
  $wl-header: #555;
  $wl-paragraph: #444;
  $wl-hightlight-text: #da3a4c;
