/*
 *
 * 主頁面
 *
 */

.main_function{
  height: 3.5em;
  background-color: #aaa; // for show area
  @include container($container-phone);
  @include breakpoint($breakpoint-medium) {
    height: 5em;
    @include container($container-pad);
  };
  @include breakpoint($breakpoint-desktop) {
    height: 6em;
    @include container($container-desktop);

  };
}