---
title: "Wish.Land :: 最棒的活動平台"
---

<!-- main_function -->
<div class="qrow">
  <div class="main_function">
<!-- search form -->

<!-- end of search form -->

<!-- nav -->

<!-- end of nav -->
  </div>
</div>

<!-- map -->
<div class="qrow">
<!-- map -->
  <div class="main_map">
    <div id="map">
    </div>
    <div class="map_overlay">
      <div class="detail">

      </div>
    </div>
  </div><!-- end of map -->
</div>

<!-- event -->
<div class="qrow">
<!-- events -->
  <div class="events">
    <div class="wraper">
      <div class="header">
        <h3><i class="fa fa-star fa-lg"></i> 精選活動</h3>
      </div>

      <!-- event unit -->
      <% 15.times do |e| %>

      <div class="event">
        <img src="<%= lorem.image('600x800', :text => 'event unit') %>" alt="" class="img-responsive">
      </div>

      <% end %><!-- end of event unit -->
    </div>
  </div><!-- end of events -->
</div>



